@model ModelsClassLibrary.Entitys.Order

<form asp-controller="home" asp-action="editindex" asp-route-id="@Model.Id" method="post">

    <div class="form-group">
        <label asp-for="Route" class="control-label">Маршрут</label>
        <input type="text" value="@Model.Route" name="route" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Route" class="control-label">Станус выполнения</label>
        <input type="checkbox" value="true" name="iscomplite" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="VehicleId" class="control-label">Номер автомобиля</label>
        @*<input type="number" value="@Model.VehicleId" name="vehicleid" class="form-control" />*@
        <select name="vehicleid">
            @foreach (var vehicle in ViewBag.Vehicles)
            {
                <option value="@vehicle.Id">автомобиль№ @vehicle.Id</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>

</form>